@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #ff7978;
  background-image: url("/src/img/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== CONTAINER ===== */
.container {
  width: 100%;
  max-width: 1110px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
}

/* ===== TEXTO ===== */
.content {
  max-width: 520px;
  color: #fff;
}

.content h1 {
  font-size: 48px;
  line-height: 1.15;
  margin-bottom: 24px;
}

.content p {
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.9;
}

/* ===== FORM BOX ===== */
.form-box {
  width: 505px;
}

/* HEADER ROXO */
.form-header {
  background: #5d54a3;
  color: #fff;
  text-align: center;
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.form-header p {
  font-size: 14px;
}

.form-header strong {
  font-weight: 600;
}

form {
  background: #fff;

  padding: 40px 24px 24px;

  min-height: 565px;

  border-radius: 15px;
  box-shadow: 5px 8px 0 rgba(255, 121, 120, 0.8);
}

form input {
  width: 100%;
  padding: 14px;
  margin-bottom: 50px;

  border-radius: 6px;
  border: 1px solid #3A3A3A;
  font-size: 16px;
}

form input:focus {
  outline: none;
  border-color: #5d54a3;
}

form button {
  width: 100%;
  padding: 14px;

  border: none;
  border-radius: 6px;
  background: #77e2b4;

  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

form button:hover {
  opacity: 0.9;
}

.terms {
  margin-top: 16px;
  font-size: 11px;
  text-align: center;
  color: #999;
}

.terms a {
  color: #fe514f;
  font-weight: 12px;
  text-decoration: none;
}


/* tamanho mobile  */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 24px;
    text-align: center;
  }

  .content {
    max-width: none;
  }

  .content h1 {
    font-size: 32px;
  }
  

  .form-box {
    width: 100%;
    
  }
}